body{
    margin: 0px;
}
#navbar{
    overflow: hidden;
    border : 1px solid red;
    position: fixed;
    top: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: white;
}
#navbar > div{
    border : 1px solid teal;
}
#bar{
    width: 80%;
    height: 40px;
}
#forbar{
    display: flex;
}
#glass{
    width: 10%;
    font-size: 25px;
}
#micro{
    width: 8%;
    margin-left: 2%;
    border-radius: 50%;
}
*{
    box-sizing: border-box;
}
#endbar{
    display: flex;
    justify-content: space-around;

}
#endbar > i{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
}
#name{
    display: flex;
    margin-left: 5px;
}
#name > i{
    margin-top: auto;
    margin-bottom: auto;
}
#ex{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 20px;
}
#rod{
    border : 1px solid red;
    width: 60px;
}
#sidebar{
    position: fixed;
    top : 43px;
    border : 1px solid aqua;
    background-color: aqua;
    width: 100px;
    height: 100%;
    text-align: center;
}   
#content{
   margin-left: 100px;
   margin-top: 55px;
   border : 10px solid red;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-gap: 10px;
   box-sizing: border-box;
}

#content > div{
    margin-left: auto;
    margin-right: auto;
    border : 1px solid purple;
}

#container{
    margin-top: 43px;
    display: flex;
    border : 5px solid green;
}


img{
    width: 100%;
}

#home{
    font-size: 40px;
}

#explore{
    font-size: 40px;
}

p{
    margin-top: auto;
    margin-bottom: auto;
}
#sbar2{
    /* border : 1px solid red; */
    margin-top: 20px;
}